body {
    font-family: "Roboto-Regular", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: bold;
}

.blogs-header {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blogs-header img {
    width: 90%;
    height: auto;
}


hr {
    border: none;
    border-top: 1px solid black;
    margin: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blogs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}

section hr {
    border: none;
    border-top: 1px solid black;
    margin: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.blogs-item {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.blogs-text {
    flex: 1 1 500px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 30px;
}

.blogs-text h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Roboto-Medium', sans-serif;
}

.blogs-text h1 {
    font-size: 64px;
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Roboto-Bold', sans-serif;
}

.blogs-text-scroll {
    max-height: 350px;
    overflow-y: auto;
}

.blogs-text-scroll p {
    font-size: 32px;
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
}

.blogs-image {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 60px;
}

.blogs-image img {
    width: 110%;
    object-fit: contain;
    margin: 10px;
}

/* insight section */

.blogs-insight {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
        "left right-top"
        "left right-bottom";
    grid-template-columns: 1fr 2fr;
    gap: 26px;
    margin-left: 90px;
    margin-right: 90px;
}

.card {
    background: #ffffff;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 10px;
    height: 350px;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    /* Smooth transition */
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    /* Slight lift and scale */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow */
    cursor: pointer;
}

.card:hover .action-arrow {
    color: #007BFF;
    /* Change arrow color on hover */
    transition: color 0.3s ease;
}

.left {
    grid-area: left;
    background-color: #000;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.left:hover {
    transform: translateY(-10px) scale(1.03); /* Slight lift and scale */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    cursor: pointer;
}

.left:hover .action-arrow {
    color: #007BFF; /* Change arrow color on hover */
    transition: color 0.3s ease;
}


.left p {
    font-size: 20px;
    font-family: "Roboto-Light", sans-serif;
    margin-top: 50px;
}


.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 40px;

}

.left img {
    height: 350px;
    width: 500px;
    border-radius: 30px;
}

.container h1 {
    font-size: 40px;
    font-family: "Roboto-Bold", sans-serif;
    margin: 0;
    margin-top: 10px;
}

.right-top {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.right-bottom {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.action-arrow {
    margin-top: auto;
    font-size: 1.5rem;
    color: inherit;
    align-self: flex-end;
    cursor: pointer;
}



@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "left"
            "right-top"
            "right-middle"
            "right-bottom";
        grid-template-columns: 1fr;
    }
}


/* .custom-container {
    position: relative;
    background: white;
    border: 1px solid black;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.custom-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
} */